.classroom-page {
    background: url('../images/chess47.png') center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Added to position the back button */
}

.classroom-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.classroom-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000080;
}

.classroom-container .form-group {
    margin-bottom: 15px;
}

.classroom-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000080;
}

.classroom-container .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.classroom-container .error-message {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

.classroom-container button {
    width: 100%;
    padding: 10px;
    background-color: #000080;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.classroom-container button:hover {
    background-color: #000060;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.back-button img {
    width: 30px;
    height: 30px;
}
