.demo-page {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../images/chess35.png') center/cover no-repeat; /* Light grey background for contrast */
    font-family: Arial, sans-serif;
}

.demo-container {
    display: flex;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px; /* Ensure the container doesn't get too wide */
    width: 100%;
}

.demo-left {
    background-color: #000080; /* Orange */
    color: white;
    padding: 20px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo-left h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.demo-left p {
    margin: 5px 0;
}

.demo-right {
    padding: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000080;
}

.demo-right h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-field {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
}

.input-group {
    display: flex;
    gap: 10px;
}

.country-code {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    width: 120px;
    color: #000080;
}

.continue-button {
    background-color: #000080;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue-button:hover {
    background-color: #6b97c6;
}
